body {
    background-color: black;
}

.jumbotron {
    background-image: url(../images/yugioh-background.jpg);
    vertical-align: middle;
    margin-top: 50px;
    color: firebrick;
    font-size: 30px;
    font-weight: bolder;
}

#question-card {
    background-color: black;
    height: 80px;
}

.cards {
    background-color: black;
    height: 300px;
    border: 1px solid white;
}

.card-title {
    margin-top: 26.5%;
}